<!doctype html>
{%load static%}
{% load crispy_forms_tags %}

<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{%static '/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Cardápio</title>
  </head>
  <body>
    <!-- Just an image -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
              <img src="{%static '/img/logo2.png' %}" alt="" width="48" height="45">
            </a>
            <div class="mx-2">
            <a href="/cardapio/meu_carrinho/">
            <i class="fa fa-shopping-cart mr-3" style="font-size:48px;color:rgb(248, 248, 248)"></i>
            <span class="position-absolute top-15  translate-middle badge rounded-pill bg-danger my-2">{{quantidade_cart}}</span>
            </a>
          </div>
          </div>
        
        
    </nav>
    <!--NEED DIV STYLE AND BUTTON TO SAVE!-->
    {% block content %}
    <div class="container text-center my-3">
        <h1 class="text-center text-danger my-2"> CARDÁPIO: </h1>
        {% if messages %}
        
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{message}}
            </div>
            {% endfor %}
      
        {% endif %}
        
        {% if categorias %}
        {%for i in categorias%}
        <div class="container">
          <div class="row justify-content-center">
        <h2 class="text-center">{{i.text}}:</h2>
        
        {% if produtos %}
        {%for produto in produtos%}
        {%if produto.classificacao.text == i.text%}
        <div class="card my-2 mx-2" style="width: 18rem;">
          {% if produto.img %}
          <img src="{{produto.img.url}}" class="card-img-top" alt="...">  
          {%endif %}    
          <div class="card-body">
            
              <h4 class="card-title">{{produto.item_nome}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{produto.descricao}}</h6>
              <h5 class="card-subtitle mb-2 text-muted">R$ {{produto.preco}}</h5>
            
              {% if not produto.item_nome in lista_itens %}
              <form action="/cardapio/" method="post" class="post-form">
                {% csrf_token %}
                <input id="item" type="hidden" name="item" value="{{produto.item_nome}}">
                <label for="team_name">Quantidade: </label>
                <div class="container-sm">
                <select class="form-select text-center" name="quantidade" aria-label="Default select example">
    
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>

                </select>
                </div>
                <input class="btn btn-warning my-2" type="submit" value="ADICIONAR">

              </form>
              {% else %}
              <input class="btn btn-warning my-2" type="button" disabled value="ITEM ADICIONADO">
              {% endif %}
          </div>
     
      </div>
        {%endif%}
        {%endfor%}
        
        {%else%}
        {%endif%}
        {%endfor%}
        <div class="container-sm">
        <a class="btn btn-warning btn-lg my-1" href="/cardapio/meu_carrinho/">Finalizar Pedido</a>
        </div>
      </div>
        </div>
       
        {%endif%}
        {%endblock %}
      </div>

      {% include 'footer/register_white.html' %}
        
    <!--JAVA SCRIPT-->
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <!----->
  </body>
</html>