<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{%static '/img/favicon.png' %}">
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">

    <title>Adicionar Token: </title>
  </head>
  <body>
    <!--START NAVBAR-->
    {% include 'base/dark_base.html' %}
    <div class="row justify-content-center my-4">
        <div class="w-50">
            {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                    {{message}}
                    <div class="row justify-content-center">
                    <a class="btn btn-primary my-1 w-50" href="../../admin/" role="button">IR PARA ADMIN</a>
                    </div>
                    </div>
                    {% endfor %}
        </div>

    </div>
    {% else %}
    <h1 class="my-2 text-center text-danger">Adicionar Token:</h1>
    <div class="row justify-content-center">
        <div class="container-sm text-center my-2">
            <form method="post" class="row justify-content-center">
                  {% csrf_token %}
                    <div class="container-sm" style="max-width:300px;">
                    {% crispy form %}
                    <input class="btn btn-primary my-2" type="submit" value="Salvar">
                    </div>
            </form>
        </div>
       

    </div>
    {% endif %}
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <!----->