<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{%static '/img/favicon.png' %}">
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">

    <title>Tutorial (Token)</title>
  </head>
  <body>
    <!--START NAVBAR-->
    {% include 'base/dark_base.html' %}
    {% if instalation == "inexistente" %}
    <div class"container">
      <h2 class="text-center text-danger my-2">Tutorial de instalação</h2>
    <div class="row justify-content-center my-4 mx-2">
        <div class=" text-left" style="max-width: 700px;">
          <h4 class="text-dark"><strong class="text-danger">1º)Passo:</strong> Abra esse mesmo link no smartphone do cliente, caso já esteja, prossiga para o segundo passo.</h4>
          <h4 class="text-dark"><strong class="text-danger">2º)Passo: </strong> Abra a loja de aplicativos do smartphone e pesquise por pushbullet ou clique na respectiva loja (<a class="text-success" href="https://play.google.com/store/apps/details?id=com.pushbullet.android&hl=pt_BR&gl=US" target="_blank">Play Store</a> ou <a href="https://apps.apple.com/us/app/pushbullet/id810352052?ls=1">App Store</a>).</h4>
          <h4 class="text-dark"><strong class="text-danger">3º)Passo: </strong> Registre-se no app com a conta do google do smartphone.</h4>
          <h4 class="text-dark"><strong class="text-danger">4º)Passo: </strong> Vá até às configurações e procure pela opção chave de acesso, após isso crie uma chave de acesso e copie.</h4>
          <h4 class="text-dark"><strong class="text-danger">5º)Passo: </strong> Clique neste <a href="add_connection/" target="_blank">link</a>, cole os seguintes dados nos campos: </h4>
          <h3 class="text-dark">Atenção, vá ate às configurações de notificação e altere o som de notificação para o app Pushbullet</h3>
          <div class="container bg-danger py-2">
          <h4 class="text-center text-light"> <strong class="text-dark">Token:</strong> "cole seu código nesta opção"</h4>
          <h4 class="text-center text-light"> <strong class="text-dark">Link encurtado:</strong> https://yoshi-temakeria.herokuapp.com </h4>
          </div>
          <h4 class="text-dark my-2"><strong class="text-danger">6º)Passo: </strong>Verifique se há uma nova mensagem do app pushbullet, caso ela não apareça, escaneie o link de uma mesa com outro smartphone (além do seu e do cliente) e verifique se há uma nova mensagem.</h4>
          <h4 class="text-dark"><strong class="bg-warning text-dark">Caso esteja funcionando, continue</strong>, caso contrário, contate diretamente a equipe do Virtual Menu e informe sobre o ocorrido.</h4>
          <h4 class="text-dark"><strong class="text-danger">7º)Passo:</strong> Pergunte ao cliente se ele deseja receber notificações no computador, caso sim, vá até o <a href="https://www.pushbullet.com/#setup/desktop" target="_blank"> site </a> e instale a extensão para o navegador do cliente, após isso clique no icone verde que aparecerá nas extensões e clique no ícone verde (do pushbullet) e depois faça login com a conta do Google no navegador</h4>
          <h3 class="text-dark"><strong class="bg-warning"> Atenção: </strong>Informe ao cliente que esse é um App de internet das coisas e ele verá notificações de outros aplicativos na tela do computador.</h3>
        </div>
      </div>
        {% include 'footer/register_footer.html'%}
    
    
    {% else %}
    <div class="container">
        <h2 class="text-center text-danger my-2">Seu token já está instalado</h2>
        <div class="row justify-content-center">
            <h5 class="text-center"> em caso de erro, contate o consultor (responsável pela instalação do virtual menu)</h5>
        </div>
    </div>
    {% include 'footer/fixed_position_footer.html'%}
    {% endif %}
  </div>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <!----->