<!doctype html>
{% load static %}
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="shortcut icon" href="{% static '/img/favicon.png' %}">
        <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
        <title>Deletar Mesa</title>
    </head>
    <body>
        <!--START NAVBAR-->
        {% include 'base/dark_base.html' %}
        <!--END NAVBAR-->
        <!--AINDA NÃO FUNCIONA PERFEITAMENTE, IMPLEMENTAR CATEGORIAS-->
        <div class="container-fluid">
            {% include 'snippets/configuracoes_snippets/mesa/mesa_snippet.html' with instance=obj %}
        </div>
        <!--IF CONTENT IS EMPTY: NOT BOTTOM == 0 ELSE: BOTTOM == 0-->
        <!--JAVA SCRIPT-->
        {% if quantidade < 10 %}
            {% include 'footer/fixed_position_footer_dark.html' %}
        {% else %}
            <div class="container">
                {% include 'footer/register_white.html' %}
            </div>
            {% endif %}
            <script src="{% static 'js/bootstrap.js'%}"></script>
            <!----->
        </body>
    </html>
