{% load static %}
{% load static %}
{% load crispy_forms_tags %}
<div class=" d-flex justify-content-center">
    <form action="/adicionar_restaurante/" method="POST" class="col-sm-4 mt-2 mb-5 pt-3 pb-2 px-5" enctype='multipart/form-data'>
      <h1 class="text-center">Adicionar Restaurante:</h1>
        {% csrf_token %}
        <div class="my-2">
          {{form.nome_restaurante|as_crispy_field}}
          {{form.logo_restaurante|as_crispy_field}}
          {{form.proprietario|as_crispy_field}}
          {% if messages %}
          <div class="container">
            <div class="alert alert-danger" role="alert">
              O proprietário já possui um restaurante com esse nome!
            </div>
        </div>
          {% endif %}
          <div class="col text-center">
            <button type="submit" class="btn btn-success my-2"  method="post" >Salvar</button>
          </div>
    </form>
  </div>

    
  


